.header-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
}
.header-text{
    color: white;
    font-weight: 600;
    padding-left: 20px;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 20px;
    margin: auto;
}
.navigate-container{
    display: flex;
}