.project-container{
    display: block;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px white solid;
}
.project-title{
    font-weight: bold;
    font-size: 1.2rem;
}
.info-text{
    font-size: .8rem;
}
/* PROJECT */
.subheader-text{
    margin-bottom: 24px;
}
.row{
    width: 100%;
    height: 40vh;
    display: flex;
    background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
}
